:root {
  --black: #323538;
  --green: #00b3b3;
  --gray: #cccccc;
  --dark-gray: #aaa;
  --header-black: #09090a;
  --background: #f7f7f7;
  --white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: Roboto;
  font-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
